<div id="top-bar">
</div>

<div class="normal-wrapper">
    <div id="logo-container">
        <i class="fa fa-volume-down logo-icon"></i><h1>Noise Media</h1>
         <i class="fa fa-trash" aria-hidden="true"></i>
         <i class="icon-circle" style="font-size: 30px; color: red;"></i>
         <i class="icon-user icon-white"></i>
    </div>

    <ul id="navbar">
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Reviews</a></li>
        <li><a href="" class="last-link">Contact</a></li>
    </ul>

</div>



