.container{
    display: inline;
}

#col1{
    width: 33%;
    float: left;
    background-color: yellow;
}
#col2{
    width: 33%;
    float: left;
    background-color: violet;
}

#col3{
    width: 33%;
    float: left;
    background-color: tomato;
}
 ul li {
    display: inline-block;
}