  body {
    font-family: Arial, Helvetica, sans-serif;

  }
  h1{
    text-align: center; 
  }
  * {
    box-sizing: border-box;
  }
  
  /* Add padding to containers */
  .container {
    padding: 1%;
    position: relative;
    background-color: white;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  /* Divide page to 2 columns*/
  .col{
      width: 45%;
      margin: 1% 2%;
      display: inline-block;
  }
  .sub-col{
    display: inline-block;
  }
  .row{
    width: 95%;
    margin: 1% 2%;
  }
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .important{
      color: red;
  }
  /* Set a style for the submit button */
  .registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin-top: 40px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100px;
    top: 50%;
    left: 50%;
    opacity: 0.9;
  }
  .center{
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .registerbtn:hover {
    opacity: 1;
  }
  
  

  /*styles for dropdown list*/
  select{ 
    margin-left: 15%;
    width: 50%;
    padding: 12px 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

 /*styles for radio button*/
  .radio{
      margin-left: 25%;
  }
  .radio input[type='radio'] {
    display: none;
    /*removes original button*/
  }
  
  .radio label:before {
    /*styles outer circle*/
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 11px;
    border: 2px solid orange;
    background-color: transparent;
  }
  
  .radio label {
    position: relative;
  }
  
  .radio label input[type='radio']:checked+span {
    /*styles inside circle*/
    border-radius: 11px;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 1px;
    left: 6px;
    display: block;
    background-color: #4CAF50;
  }